@layer utilities{

    .font-alfa {
        font-family: 'Alfa Slab One', cursive;
    }
    
    .font-fredoka{
        font-family: 'Fredoka One', cursive;
    }
    
    .font-marker {
        font-family: 'Permanent Marker', cursive;
    }
    
    .font-russo {
        font-family: 'Russo One', sans-serif;
    }
    
    .font-shizuru {
        font-family: 'Shizuru', cursive;
    }
}



