@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "fonts.css";


html {
    scroll-behavior: smooth;
}

header{
    background:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACFJREFUKFNjzL7w/z8DEYARpHCqASMjIbWjCvGGENHBAwCKoidEYok1UwAAAABJRU5ErkJggg==) repeat;
}

h1{
    @apply text-5xl font-title;
    /* font-family: 'Catamaran', sans-serif; */
    /* font-family: 'Coustard', serif; */
    /* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */
    /* font-family: 'Palanquin', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Rowdies', cursive; */
    /* font-family: 'Rubik Mono One', sans-serif; */
}


h2, h4{
    @apply font-body font-bold;
}

h2{
    @apply text-3xl mb-8;
}

h3 {
    @apply text-2xl font-title;
}

h4{
    @apply text-xl;
}

a, p, button, input {
    @apply font-body;
} 

input{}

button, .btn{
    @apply bg-transparent border-solid border border-2 relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:active,
.btn:hover {
    @apply outline-none;
}

.button:hover,
.btn:hover {
    @apply cursor-pointer;
}

.button:before,
.btn:before {
  content: "";
  background-color: #D5EDF6;
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button:hover:before {
  background-color: #6DCFF6;
}

a{
    @apply relative;
}

#portrait{}
#portrait:hover{}

#intro {
    @apply relative;
    background: #d5edf65e;
    backdrop-filter: blur(15px)
}


#intro a {
    @apply border border-2 border-black px-4 py-3 absolute right-8 bg-white font-bold;
    box-shadow: 5px 5px 0 black;
}

#intro a:hover{
    box-shadow: 7px 7px 0 #217aff;
    transition: 0.3s;
}

#intro a:focus{
    box-shadow: 2px 2px 0 #0044aa;
    transition: 0.1s;
}



.onglet{
    @apply p-6 md:px-6 py-8 border-2 border-solid border-black border-b-0 relative;
    height: 20%;
    background: #daeffd;
}

/* .onglet:before{
    content: "";
    @apply w-12 h-full bg-blue-500 absolute top-0 left-0;
}
.onglet:after{
    content:attr(data-date);
    @apply transform rotate-90 left-0 top-0 absolute z-10 flex justify-center items-center;
} */


.onglet:hover{
    @apply bg-pink-500;
}
.onglet-content{
    @apply p-4 md:pl-24 md:py-20;
}
.card{
    @apply w-full h-screen md:w-1/2 xl:w-1/4 flex flex-col items-center justify-start p-6 md:py-8 border-2 border-solid border-black;
}

.card:hover{}

.job-extract{
    @apply my-8;
}

.job-tech p {
   @apply relative;
}

.job-tech p:before{
    content: "";
    @apply w-0 h-full absolute left-0 top-0;
    z-index: -1;
}

.job-tech p:hover:before{
    content: "";
    @apply w-full;
    background: #f1ff7f;
    transition: ease-out 0.15s;
}

.job-link a,
.job-tech p{
    @apply relative mr-8 text-right;
}

.job-link a:not(last-child):after{
    content:" - ";
    @apply absolute right-0 text-center mx-4 text-sm;
}

