@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "fonts.css";


html {
    scroll-behavior: smooth;
    overflow-wrap:anywhere;
}

header{
    background:linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACFJREFUKFNjzL7w/z8DEYARpHCqASMjIbWjCvGGENHBAwCKoidEYok1UwAAAABJRU5ErkJggg==) repeat;
}

h1{
    @apply text-5xl font-title;
    /* font-family: 'Catamaran', sans-serif; */
    /* font-family: 'Coustard', serif; */
    /* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */
    /* font-family: 'Palanquin', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Rowdies', cursive; */
    /* font-family: 'Rubik Mono One', sans-serif; */
    /* font-family: 'Teko', sans-serif; */
}


h2, h4{
    @apply font-body font-bold;
}

h2{
    @apply text-3xl mb-8;
}

h3 {
    @apply text-2xl font-title;
}

h4{
    @apply text-xl;
}

a, p, button, input {
    @apply font-body;
} 

input{}

button, .btn{
    @apply bg-transparent border-solid border border-2 relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover,
.button:active,
.btn:hover {
    @apply outline-none;
}

.button:hover,
.btn:hover {
    @apply cursor-pointer;
}

.button:before,
.btn:before {
  content: "";
  background-color: #D5EDF6;
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button:hover:before {
  background-color: #6DCFF6;
}

a{
    @apply relative;
}

#portrait{}
#portrait:hover{}

header #intro {
    @apply relative;
    background: #d5edf65e;
    backdrop-filter: blur(15px)
}


#intro a {
    @apply border border-2 border-black px-4 py-3 absolute right-8 bg-white font-bold;
    box-shadow: 5px 5px 0 black;
}

header #intro a:hover{
    box-shadow: 7px 7px 0 #217aff;
    transition: 0.3s;
}

header #intro a:focus{
    box-shadow: 2px 2px 0 #0044aa;
    transition: 0.1s;
}

#header-secondary{
    /* background: radial-gradient(circle, rgba(252,88,70,1) 47%, rgba(240,240,240,1) 50%); */
    /* @apply bg-grey-300; */
    @apply h-screen;
    /* background:linear-gradient(90deg, rgba(240,240,240,0.85) 30%, rgba(240,240,240,0.85) 30%), url(../img/bg/wesley-tingey--Irs24DzLxM-unsplash.jpg
    ); */
    background:linear-gradient(90deg, rgba(240,240,240,0.85) 30%, rgba(240,240,240,0.85) 30%);
}

@screen 4xl{
    #header-secondary{
        height:65vh;
        @apply px-40;
    }
}

#header-secondary #intro{
    background:#6b6e7457;
    /* background: #003c56; */
    backdrop-filter:blur(15px);
    @apply relative;
}

#header-secondary #intro a{
    @apply w-32 aspect-square rounded-full flex justify-center items-center overflow-hidden text-white -bottom-16;
    background: #003c56;
}

#header-secondary #intro a:after{
    content:"";
    background:url(../img/icon/arrow-down.svg) center no-repeat;
    background-size:2rem;
    background-size:contain;
    @apply w-full h-full absolute -top-40;
    transform:rotate(315deg);
}
#header-secondary #intro a:hover{
    color:transparent;
    background: white;
    box-shadow: 7px 7px 0 #f44336bf;
}
#header-secondary #intro a:hover:after{
    content:"";
    background-size:2rem;
    @apply top-0;
    transition:0.1s ease-in;
}

/* .red-element{
    @apply w-2/3 aspect-square z-0 rounded-full absolute -left-40;
    background:linear-gradient(90deg, rgba(251,64,44,0.85) 0%, rgba(252,88,70,0.85) 27%), url(../img/bg/wesley-tingey--Irs24DzLxM-unsplash.jpg);
    filter:brightness(0.90) contrast(1.25);
} */

.yellow-element{
    @apply w-1/3 aspect-square z-0 rounded-full absolute -left-48;
    background: rgb(70,252,232);
    background: -moz-radial-gradient(circle, rgba(70,252,232,0) 0%, rgba(232,251,44,0) 0, rgba(232,251,44,0.65) 75%);
    background: -webkit-radial-gradient(circle, rgba(70,252,232,0) 0%, rgba(232,251,44,0) 0, rgba(232,251,44,0.65) 75%);
    background: radial-gradient(circle, rgba(70,252,232,0) 0%, rgba(232,251,44,0) 0, rgba(232,251,44,0.65) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46fce8",endColorstr="#e8fb2c",GradientType=1);
    filter:brightness(0.90) contrast(1.25);
}

.pink-element{
    @apply w-4/5 aspect-square z-0 rounded-full absolute;
    right:-48rem;
    background: rgb(70,252,232);
    background: -moz-radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(232,251,44,0) 0, rgba(232,251,44,0.65) 75%);
    background: -webkit-radial-gradient(circle,  rgba(0,0,0,0) 0%, rgba(232,251,44,0) 0, rgba(232,251,44,0.65) 75%);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(232,251,44,0) 0, rgba(255, 163, 163,0.65) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46fce8",endColorstr="#e8fb2c",GradientType=1);
    mix-blend-mode:difference;
}



.typo-element{
    @apply absolute -left-32 -bottom-32 h-full;    /* letter-spacing: -4rem; */
}

.typo-element span{
    color: #003c56;
    font-size: 45rem;
    mix-blend-mode: darken;
    opacity: 0.75;
    /* font-family: 'Teko', sans-serif; */
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Russo One', sans-serif;
    /* font-family: 'Shizuru', cursive; */
   
}

#experiences{
    @apply hidden;
}

#experiences .onglet{
    @apply p-6 md:px-6 py-8 border-2 border-solid border-black border-b-0 relative;
    height: 20%;
    /* background: #daeffd; */
    background: #003c56;
    color:#c8c8c8;
}


/* .onglet:before{
    content: "";
    @apply w-12 h-full bg-blue-500 absolute top-0 left-0;
}
.onglet:after{
    content:attr(data-date);
    @apply transform rotate-90 left-0 top-0 absolute z-10 flex justify-center items-center;
} */


#experiences .onglet:hover{
    @apply bg-grey-50 text-black;
}

#experiences .onglet-content{
    @apply p-4 md:pl-24 md:py-20;
}
#experiences-secondary {
    background:linear-gradient(90deg, rgb(42 52 54) 42%, rgba(240,240,240,0.85) 38%);
    @apply pb-40;
}
#experiences-secondary .onglet{
    @apply px-8 py-10 relative;
    background: rgba(12, 54, 56,0.65);
    backdrop-filter:blur(50px);
    border-radius:5px;
    mix-blend-mode:exclusion;
    color:#c8c8c8;
    width:fit-content;
}

#experiences-secondary .onglet:hover{
    @apply bg-grey-50 text-black;
    transform:translate(5%, 5%);
    transition:0.2s ease-in-out;
    mix-blend-mode:luminosity;
    backdrop-filter:blur(10px);
    z-index:10;
    border:solid black 1px;
    /* box-shadow: -10px 10px 1px 0px rgba(247, 255, 127, 1); */
}

#experiences-secondary .onglet:nth-child(1){
    @apply ml-24 mt-24;
}

#experiences-secondary .onglet:nth-child(2){
    margin-left: 15rem;
    margin-top: -2rem;
}

#experiences-secondary .onglet:nth-child(3){
    @apply ml-12 -mt-4;
}

#experiences-secondary .onglet:nth-child(4){
    @apply ml-32 -mt-4;
}

#experiences-secondary .onglet:nth-child(5){
    @apply ml-4 -mt-4;
}

#experiences-secondary .onglet-content{
    @apply p-4 md:pl-24 md:py-20;
    border-left:solid 4rem rgba(255,0,0,0.5);
}




.card{
    @apply w-full h-screen md:w-1/2 xl:w-1/4 flex flex-col items-center justify-start p-6 md:py-8 border-2 border-solid border-black;
}

.card:hover{}

.job-extract{
    @apply my-8;
}

.job-tech p {
   @apply relative;
}

.job-tech p:before{
    content: "";
    @apply w-0 h-full absolute left-0 top-0;
    z-index: -1;
}

.job-tech p:hover:before{
    content: "";
    @apply w-full;
    background: #f1ff7f;
    transition: ease-out 0.15s;
}

.job-link a,
.job-tech p{
    @apply relative mr-8 text-right;
}

.job-link a:not(last-child):after{
    content:" - ";
    @apply absolute right-0 text-center mx-4 text-sm;
}

